body{
  text-decoration: none;
  overflow-x: auto;
}

.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#selector {
  display: block;
  padding-block: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: green;
}

li {
  display: inline-block;
}

/* width */
::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding-inline: 10px;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: 20px;
  cursor: pointer;
  line-height: inherit;
  color: green;
  outline: none;
}

select::-ms-expand {
  display: none;
}