body{
  text-decoration: none;
}

.chart-container{
  background-color: #e6e6e6;
  padding: 0;
  user-select: none;
  border:1px solid green;
  width: 95vw;
  min-width: 450px;
}

#yaxis {
  width: 20px;
  border-top: 1px solid grey;
  text-align: right;
  display: flex;
  flex-direction: column-reverse;
}

#yaxis > div {
  border-bottom: 1px solid grey;
  font-size: 20px;
}

#content{
  height: 620px;
  display: flex;
  text-align: center;
  overflow: auto;
  border-left: 2px solid grey;
  border-bottom: 2px solid grey;
}

.header {
  border-bottom: 1px solid green;
}

.body {
  padding: 10px;
  display: flex;
  flex-direction: row;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: inline-block;
  color: green;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.title {
  float: left;
  font-weight: 900;
  font-size: 20px;
  font-style: italic;
}

.menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  cursor: pointer;
}

.res-menu {
  min-width: 130px;
}

.pro-menu {
  padding: 10px;
}

.pro-menu > div {
  width: 200px;
}

.pro-menu > Button {
  display: inline-block;
}

.resource .res-menu nav {
  padding: 8px;
  padding-top:2px;
  transition: all 0.25s;
}

.resource .res-menu nav:hover {
  background-color: #d9d9d9;
}

.resource:hover .res-menu {
  display: block;
}

.project:hover .pro-menu {
  display: block;
}

.axis {
  border: 1px dashed gray;
  border-top: none;
  border-bottom: none;
  max-height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column-reverse;
  min-width: 40px;
  position: relative;
}

.axis span {
  display: block;
  color:beige;
  min-width: 35px;
  font-weight: bolder;
  position: relative;
}

.axis span:hover {
  cursor: pointer;
  opacity: 0.6;
}

#mark{
  text-align: center;
  background: rgba(217, 217, 217, 0.8);
  color: black;
  border: 1px dashed gray;
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding: 5px;
}

#data {
  position: relative;
}

.capacityLine {
  border:1px dashed red;
  position: absolute;
}

.capacityLine:hover {
  border: 1px solid blue;
}

.capacityLine:active {
  border: 1px solid blue;
}

/* width */
::-webkit-scrollbar {
  height: 6px;
  width: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}